body {
  text-align: center;
  background-color: #000000;
}

h1 {
  font-size: 5rem;
  color: rgb(160, 201, 65);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 4px 0 #f30a0a;

}

footer {
  color:white;
  font-family: sans-serif;
}



.w{
  background-image: url('./images/tom1.png');
}

.a {
  background-image: url('./images/tom2.png');
}

.s {
  background-image: url('./images/tom3.png');
}

.d {
  background-image: url('./images/tom4.png');
}

.j {
  background-image: url('./images/snare.png');
}

.k {
  background-image: url('./images/crash.png');
}

.l {
  background-image: url('./images/kick.png');
}

.set {
  margin: 10% 90px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(206, 63, 101);
  border-radius: 15px;
  box-shadow: 10px 20px white;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 5px solid black;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #1a1ace;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  box-shadow: 5px 5px rgb(54, 163, 185);
}
